# Testing Results
## Power Supply Unit

### Output Voltage
$$24.06 \ V_{DC}$$

## Class AB Amplifier
Open Loop Configuration
### Voltage Gain
$$A_{(v-dB)}=101.48 \ dB$$

### Current Gain
$$A_{(i-dB)}=155.56 \ dB$$

### Power Gain
$$A_{(p-dB)}=128.52 \ dB$$

## 10-Band Equalizer

