# Testing Results
## Power Supply Unit

### Output Voltage
$$24.06 \ V_{DC}$$

## Class AB Amplifier
Open Loop Configuration
### Voltage Gain
$$A_{(v-dB)}=101.48 \ dB$$

### Current Gain
$$A_{(i-dB)}=155.56 \ dB$$

### Power Gain
$$A_{(p-dB)}=128.52 \ dB$$

## 10-Band Equalizer

| Band | $f_0$ | Q | BW | $f_L$ | $f_H$ |
| :--- | :--- | :--- | :--- | :--- | :--- |
| **1** | 44.59 Hz | 2.897 | 15.39 Hz | 36.90 Hz | 52.29 Hz |
| **2** | 98.10 Hz | 2.897 | 33.86 Hz | 81.17 Hz | 115 Hz |
| **3** | 208.7 Hz | 2.897 | 72.04 Hz | 172.7 Hz | 244.7 Hz |
| **4** | 305.1 Hz | 2.897 | 105.3 Hz | 252.5 Hz | 357.8 Hz |
| **5** | 980.8 Hz | 2.898 | 338.4 Hz | 811.6 Hz | 1.15 kHz |
| **6** | 2.087 kHz | 2.897 | 720.4 Hz | 1.727 kHz | 2.447 kHz |
| **7** | 2.939 kHz | 2.930 | 1.003 kHz | 2.438 kHz | 3.441 kHz |
| **8** | 4.459 kHz | 2.897 | 1.539 kHz | 3.690 kHz | 5.229 kHz |
| **9** | 9.810 kHz | 2.897 | 3.386 kHz | 8.117 kHz | 11.5 kHz |
| **10** | 20.87 kHz | 2.897 | 7.204 kHz | 17.27 kHz | 24.47 kHz |
