# Testing Results
## Power Supply Unit
### Output Voltage
$$24.06 \ V_{DC}$$
## Class AB Amplifier

## 10-Band Equalizer

